{% extends "base.html" %}

{% block title %}API Detail{% endblock %}
{% block content %}
<h4>You Can Test Your API In Your Terminal Through The Command Below:</h4>
<p>curl -v -X {{ item.method }} http://mock.mmclock.cn/apiview/{{ item.app_name }}/{{ item.url_path }}</p>
<p><a href="/app/{{ item.app_name.id }}/">See More API(s) For This APP.</a></p>
<h1>app:{{ item.app_name }}</h1>

<pre><p><b>URL:</b>           
{{ item.url_path }}</p></pre>
<pre><p><b>Owner: </b>          
{{ item.owner }}</p></pre>
<pre><p><b>Method:</b>          
{{ item.method }}</p></pre>
<pre><p><b>Category: </b>       
{{ item.category }}</p></pre>
<pre><p><b>Status_code:</b>     
{{ item.status_code }}</p></pre>
<pre><p><b>Response_format: </b>
{{ item.response_format }}</p></pre>
<pre><p><b>Response_body: </b>  
{{ item.response_body }}</p></pre>
<pre><p><b>Response_headers:</b>
{{ item.response_headers }}</p></pre>
<pre><p><b>Description:</b>     
{{ item.description }}</p></pre>

<div style="margin: 20px">
<span>
<a href="/api/{{ item.id }}/update">API edit</a></span>
<span style="float: right"><a href="/api/{{ item.id }}/delete">API delete</a></span>
</div>
{% endblock %}