{% extends "base.html" %}

{% block title %}API Delete Confirm{% endblock %}
{% block content %}
{% ifequal user.id object.owner.id %}
<form action="" method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    <input type="submit" value="Confirm" />
    <script type="text/javascript">
function goBack()
  {window.history.go(-1)}  
</script>
<input type="button" value="Back" onclick="goBack()" />

</form>
{% else %}
<p>You Are Not Owner Of This API.</p>
<p>Please Login!</p>
{% endifequal %}
{% endblock %}
