{% extends "base.html" %}
{% load bootstrap %}
{% block title %}APP Update{% endblock %}
{% block content %}
{% ifequal user.id object.owner.id %}

<form action="" method="post">{% csrf_token %}
    {{ form|bootstrap }}
    <input style="margin: 20px" type="submit" value="Update" />
    <input style="margin: 20px" type="reset" value="Reset" />
    <script type="text/javascript">
function goBack()
{window.history.go(-1)}  
</script>
<input style="margin: 20px" type="button" value="Back" onclick="goBack()" />
</form>
</form>
{% else %}
<p>You Are Not Owner Of This API.</p>
<p>Please Login!</p>
{% endifequal %}
{% endblock %}