{% extends "base.html" %}
{% load bootstrap %}
{% block title %}Update API{% endblock %}
{% block content %}
{% ifequal user.id object.owner.id %}

<form action="" method="post">{% csrf_token %}
    
    {{ form|bootstrap }}
    <input style="margin: 20px" type="submit" value="Update" />
    <input style="margin: 20px" type="reset" value="Reset" />
    <script type="text/javascript">
function goBack()
{window.history.go(-1)}  
</script>
<input style="margin: 20px" type="button" value="Back" onclick="goBack()" />
</form>
{% else %}
<p>You Are Not Owner Of This API.</p>
<p>Please Login!</p>
{% endifequal %}
<script src="{{STATIC_URL}}scripts/jquery-1.11.1.min.js"></script>
<script src="{{STATIC_URL}}scripts/JSDValidator-1.6.js"></script>
<script src="{{STATIC_URL}}scripts/generator.js"></script>
{% endblock %}
